/* 1. Background Properties  */

.one{
    height: 700px;
    width:900px;
    background-color: aqua;
    background-image: url('resources/flower.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    /* background: orange url('resources/flower.jpg') no-repeat top right; */

    /*
       (center center)  */
}

/* 2. Border  */


.two{
    width:200px;
    height:200px;
    background-color: bisque;
    border-style:solid;
    border-width: 5px;
    border-color: red;
    border: 10px solid green;
    border-right-style: dotted;
    border-radius: 20px;
    /* border-radius: 50%; */

    /* margin  */


   margin-top: 50px;
   margin-left: 100px;
   margin: 200px 200px;
   margin: auto;
   margin-bottom: 100px;



}

.three{
    background-color: aqua;
    width: 200px;
    height:200px;
    margin: auto;
    margin-top: 100px;
    /* visibility: hidden;
    display: none; */
}


/* 1. (side margin is collapsable or not ?) */

/* (vertical margin is collapsed) */

.four{
    height: 200px;
    width:200px;
    background-color: grey;
    border: 5px solid red;
    padding: 10px;
    padding-left: 20px;
    overflow: auto;
    box-sizing: border-box;

}

.five{
    width: 300px;
    height:300px;
    background-color: red;
    margin-left: 100px;
    position: relative;
    top:100px;   
    left:100px;

}

.six{
    width:200px;
    height:200px;
    background-color: blue;
    position: fixed;
    top:0px;
    right:0px;
}

.seven {
    width: 100px;
    height: 100px;
    background-color: black;
    position: absolute;
    top:100px;
    right:0px;
}

.form {
    width:700px;
    margin: auto;
}

form{
    margin-top: 300px;
}

h1{
    text-align: center;
}

input[type=text]{

    width: 100%;
    padding: 10px;
    margin: 10px 0px;
}

textarea{
    width:100%;
    resize: none;
}

input[type=tel]{
    width:100%;
}
input[type=tel]:focus{
    background-color: yellow;
}
